
<h1>Vote the Style</h1>

<hr><br>


<ul class="style">
	<li ng-repeat="photo in photos">
		<div>{{photo.brand}}</div>
		<img src="https://cdn.shopify.com/s/files/1/1048/0440/files/{{photo.name}}.jpg?16952216431683044896"/>
			<div class="comment">
				<form method="post" ng-submit="comment(photo._id, photo.comment)" name="form.commentForm"  >
					<textarea class="form-control" rows="3" type="text" name="textComment" name="text" ng-model="photo.comment"/></textarea>
					<input class="btn btn-default" type="submit" value="Add a comment" placeholder="Add a Comment.." />
				</form>
			</div>
			<div class="button-holder">
				
				<form method="post" ng-submit="like(photo._id, photo.name)"  name="form.likeForm" ng-class="{ 'selected-class-name': photo.liked_bool }" ng-click="itemClicked($index)" >
					<input type="hidden" name="photoName" value="{{photo.name}}"/>
					<input type="submit" value="Like!"/>
				</form>
				<form method="post" ng-submit="dislike(photo._id, photo.name)" ng-class="{ 'selected-class-name': photo.disliked_bool }">
					<input type="hidden" name="photo" value="{{photo.name}}" />
					<input type="submit" value="Dislike!" />
				</form>
			</div>
	</li>
</ul>